@font-face {
    font-family: 'Sanchez';
    src: url('/fonts/Sanchez/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'Petrona';
    src: url('/fonts/Petrona/Petrona-VariableFont_wght.ttf');
}

*{
    font-family: "Sanchez", serif;
    padding: 0;
    margin: 0;
}

/* Header */
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logoHeader{
    float: left;
    width: 150px;
    display: flex;
    justify-self: center;
    align-self:baseline;
    padding: 15px 0 0 50px;
}
.barRight{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px 20px 0 0;
}
.centerNav .navPages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
}
.navbar a:hover { 
    border-bottom: 3px solid #E6A197;
}
#products{
    border-bottom: 3px solid #E6A197;
} 
#account img{
    display: none;
}

/* Header responsive */
@media (max-width: 900px) {
.logoHeader {
        width: 120px;
        padding-top: 40px;
    }
    .centerNav .navPages{
        display: flex;
        flex-direction: column;
        align-items: flex-end ;
        margin: 0;
        padding: 0 20px 0 0;
    }
    .barRight{
        padding: 10px 20px 10px 0;
    }
}
/* Main */
.titre{
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;

}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;   

}
.product{
    width: 30%;
}
.product img{
    width: 90%;
}
.product p{
    font-family: 'Petrona';
}
.titre h1{
    padding-bottom: 30px;
    text-decoration: underline 3px #E6A197; 
}
.pinkLine{
    background-color: #E6A197;
    width: 6px;
    height: 30px;
    border-radius: 10px;
    padding-bottom: 20px;
}


/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding-left:5px ;
    /* padding: 5px 5px 0px 5px; */
}

.logoFooter img{
    width: 180px;
    /* justify-content: flex-end; */
}
.centerFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    gap: 3px;
}
.networking img{
    width: 30px;    
}
.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: 10px 10px 10px 0;
}
footer p:hover{
    text-decoration: underline 2px#E6A197;
}

@media (max-width:700px){
    .logoFooter{
        width: auto;
    }
    footer{
        font-size: 0.82em;
    }
}
@media (max-width:400px){
    footer{
        height: auto;
    }

    .centerFooter{
        align-self:flex-end;
        align-items: flex-end;
        padding: 0 5px 0 0;
    }
    .footerRight{
        align-self: flex-end;
        text-align: right;
    }
    .logoFooter{
        align-content: flex-end;
    }
    }