@font-face {
    font-family: 'Sanchez';
    src: url('/fonts/Sanchez/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'Petrona';
    src: url('/fonts/Petrona/Petrona-VariableFont_wght.ttf');
}

*{
    font-family: "Sanchez", serif;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logoHeader{
    float: left;
    width: 150px;
    padding: 15px 0 0 50px;
}
.barRight{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px 20px 0 0;
    align-items: center;
}
.centerNav .navPages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
}
.navbar a:hover { 
    border-bottom: 3px solid #E6A197;
}
#homePage{
    border-bottom: 3px solid #E6A197;
} 
#account img{
    display: none;
}
#hamburgerMenu{
    font-size: 1.8em;
    display: none;
}

/* Header responsive */
@media (max-width: 900px) {
.logoHeader {
        width: 120px;
        padding-left: 20px;
    }
    .centerNav .navPages{
        flex-direction: column;
        display: none;
        margin: 10px;
        padding: 5px;     
        position:relative;
        gap: 10px;
        z-index: 2;
        background-color: white;   
        border: #E6A197 1.5px solid;     
        }

    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center ;
        cursor: pointer;
    }
    .barRight{
        padding-top: 70px ;
    }
};
/* Main sections */
main{
z-index: 1;
}
/* Main */
section{
    width: fit-content;
}
#aboutCeci{
    display: flex;
    width: 80%;
    margin: 50px auto;
}
.ceciText{
    align-self: center;
}
#aboutCeci img{
    width: 40%;
    margin: auto;
    height: 500px;

}
#aboutCeci h1{
    width: 50%;
    border-bottom: 3px solid #E6A197;
    margin-bottom: 20px;
    font-size: 2em;
}
#aboutCeci p{
    font-family: 'Petrona';
    font-size: 1.5em;
    width:80%;
}

#aboutPieces{
    display: flex;
    width: 100%;
    margin: 0 auto 40px auto;
}

.piecesText{
    margin-left: 200px;
    padding:5px;
    width: 100%;
    align-self: center;
}
#aboutPieces h1{
    width: 50%;
    border-bottom: 3px solid #E6A197;
    font-size: 2em;
    margin-bottom: 20px;
}
#aboutPieces p{
    font-family: 'Petrona';
    font-size: 1.5em;
    width:100%;
}

@media (max-width:680px){
    #aboutCeci{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        font-size: small;
    }
    #aboutCeci img{
        width: 90%;
        margin:10px auto 10px auto;
        height: auto;
    }
    #aboutPieces{
        display: flex;
        flex-direction: column-reverse;
        font-size: small;
    }
    .piecesText{
        margin: 20px auto;
    }
}


    
/* Carousel */
    #carousel{
        max-width:max-content;
        position: relative;
        margin-left:30px ;
    }
    
    /* Style arrows buttons */
    .leftArrow, .rightArrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 40px; /* Ancho y alto iguales para hacer el botón circular */
        height: 40px; 
        margin-top: -25px; /* Mitad del height para centrar verticalmente */
        display: flex; /* Centrar el contenido */
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 30px;
        transition: background-color 0.3s ease; /* Suavizar el hover */
        background-color: #E6A197;
        border: #FFE0E6 3px solid;
        border-radius: 50%; /* Asegurar la forma circular */
        user-select: none;
    }
    
    /* Position the right button to the right */
    .rightArrow{
        right: 0;
        margin-right: 5px;
    }
    .leftArrow{
        margin-left: 5px;
    }
    /* Hover of the buttons, it will inverse colors */
    .leftArrow:hover, .rightArrow:hover{
        background-color: #FFE0E6;
        border: #E6A197 3px solid;
    }
    
    .slides{
        position: relative;
        transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    }
    
    .slides img{
        width:100%;
    }
    
    #dots-slides {
        display: flex;
        justify-content: center; 
        align-items: center;
        position: absolute;
        margin-top: 5px;
        width: 100%;  

    }
    .dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color:#FFE0E6 ;
        border-radius: 50%;
        border: black 0.5px solid;
        align-items: center;
        display: inline-block;
        transition: background-color 0.6 ease;
    }
    .active{
        background-color: #E6A197;
    }
    
    /* Keyframe for sliding the slides */
    
    /* @keyframes slideInFromRight {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInFromLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    
    @keyframes slideOutToLeft {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    @keyframes slideOutToRight {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    } */
    
    /* Media Queries for the carousel */
    @media only screen and (max-width:900px){
        #carousel{
            width: fit-content;
            margin-bottom: 30px;
        }
        .rightArrow, .leftArrow{
            font-size: 20px;
            width: 30px; /* Ancho y alto iguales para hacer el botón circular */
            height: 30px; 
        }
        .slides img{
            width: 90%;
            height: auto;
        }
    }







/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    height: 80px;
    padding-left:5px ;
    width: 99%;
}

.logoFooter img{
    width: 180px;
    /* justify-content: flex-end; */
}
.centerFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    gap: 3px;
}
.networking img{
    width: 30px;    
}
.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    right: 0;    

}
footer p:hover{
    text-decoration: underline 2px#E6A197;
}

@media (max-width:700px){
    .logoFooter{
        width: auto;
    }
    footer{
        font-size: 0.82em;
    }
}
@media (max-width:430px){
    footer{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
        margin-top: 30px;
    }
    .footerRight{
        text-align: center;
    }
}
