@font-face {
    font-family: 'Sanchez';
    src: url('/fonts/Sanchez/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'Petrona';
    src: url('/fonts/Petrona/Petrona-VariableFont_wght.ttf');
}

*{
    font-family: "Sanchez", serif;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logoHeader{
    float: left;
    width: 150px;
    padding: 15px 0 0 50px;
}
.barRight{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px 20px 0 0;
    align-items: center;
}
.centerNav .navPages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
}
.navbar a:hover { 
    border-bottom: 3px solid #E6A197;
}
#login{
    border-bottom: 3px solid #E6A197;
} 
#account img{
    display: none;
}
#hamburgerMenu{
    font-size: 1.8em;
    display: none;
}


/* Header responsive */
@media (max-width: 900px) {
.logoHeader {
        width: 120px;
        /* padding-top: 40px; */
    }
    .centerNav .navPages{
        flex-direction: column;
        display: none;
        margin: 10px;
        padding: 5px;     
        position:relative;
        gap: 10px;
        z-index: 3;
        background-color: white;   
        border: #E6A197 1.5px solid;     
        }

    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .barRight{
        padding-top: 70px ;
    }
};

/*Main*/
main{
    z-index: 1;
    }
article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;

}
.pinkLine{
    width: 100%;
    height: 2px;
    background-color: #E6A197;
    margin-bottom: 5px;
}
section{
    border: #E6A197 2px solid ;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
}
section p{
    margin-bottom: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input {
    font-family: 'Petrona';
    height: 30px;
    font-size: 1.2em;
    border: lightslategray solid 1px;
    padding-left: 2px;
}
.forgotpsw{
    display: flex;
    justify-content: end;
    font-size: smaller;
}
.forgotpsw:hover{
    text-decoration: underline #E6A197 solid 1px;
}
.divButton{
    display: flex;
    justify-content: center;
}
.button { 
    width: fit-content;
    padding: 5px 10px;
    background-color: #FFE0E6;
    border: #E6A197 1px solid;
}
.button:hover{
    background-color: #E6A197;
    color: white;
    border: #FFE0E6 1px solid;
}

@media (max-width: 900px) {
    article{
        flex-direction: column;
        align-items: center;
    }

    .pinkLine{
        align-self: center;
    }

}

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding-left:5px ;
    /* padding: 5px 5px 0px 5px; */
}

.logoFooter img{
    width: 180px;
    /* justify-content: flex-end; */
}
.centerFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    gap: 3px;
}
.networking img{
    width: 30px;    
}
.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: 10px 10px 10px 0;
}
footer p:hover{
    text-decoration: underline 2px#E6A197;
}

@media (max-width:700px){
    .logoFooter{
        width: auto;
    }
    footer{
        font-size: 0.82em;
    }
}
@media (max-width:430px){
    footer{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
        margin-top: 30px;
    }
    .footerRight{
        text-align: center;
    }
}
