@font-face {
    font-family: 'Sanchez';
    src: url('/fonts/Sanchez/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'Petrona';
    src: url('/fonts/Petrona/Petrona-VariableFont_wght.ttf');
}

*{
    font-family: "Sanchez", serif;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logoHeader{
    float: left;
    width: 150px;
    padding: 15px 0 0 50px;
}
.barRight{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px 20px 0 0;
    align-items: center;
}
.centerNav .navPages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px;
}
.navbar a:hover { 
    border-bottom: 3px solid #E6A197;
}
#aboutMe{
    border-bottom: 3px solid #E6A197;
} 
#account img{
    display: none;
}
#hamburgerMenu{
    font-size: 1.8em;
    display: none;
}


/* Header responsive */
@media (max-width: 900px) {
.logoHeader {
        width: 120px;
        /* padding-top: 40px; */
    }
    .centerNav .navPages{
        flex-direction: column;
        display: none;
        margin: 10px;
        padding: 5px;     
        position:relative;
        gap: 10px;
        z-index: 3;
        background-color: white;   
        border: #E6A197 1.5px solid;     
        }

    #hamburgerMenu{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .barRight{
        padding-top: 70px ;
    }
};

/* Main sections */
main{
z-index: 1;
}
/* Main */
section{
    width: fit-content;
}
#aboutCeci{
    display: flex;
    width: 80%;
    margin: 50px auto;
}
.ceciText{
    align-self: center;
}
#aboutCeci img{
    width: 40%;
    margin: auto;
    height: 500px;

}
#aboutCeci h1{
    width: 50%;
    border-bottom: 3px solid #E6A197;
    margin-bottom: 20px;
    font-size: 2em;
}
#aboutCeci p{
    font-family: 'Petrona';
    font-size: 1.5em;
    width:80%;
}

#aboutPieces{
    display: flex;
    width: 80%;
    margin: 0 auto 40px auto;
}
#aboutPieces img{
    width: 40%;
    margin: auto;
    height: 500px;

}
.piecesText{
    margin-left: 200px;
    padding:5px;
    width: 100%;
    align-self: center;
}
#aboutPieces h1{
    width: 50%;
    border-bottom: 3px solid #E6A197;
    font-size: 2em;
    margin-bottom: 20px;
}
#aboutPieces p{
    font-family: 'Petrona';
    font-size: 1.5em;
    width:100%;
}

@media (max-width:680px){
    #aboutCeci{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        font-size: small;
    }
    #aboutCeci img{
        width: 90%;
        margin:0 auto 10px auto;
        height: auto;
    
    }
    #aboutPieces{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        font-size: small;
    }
    .piecesText{
        margin: 20px auto;
    }
    #aboutPieces img{
        width: 90%;
        margin:0 auto 10px auto;
        height: auto;
    
    }
}






/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding-left:5px ;
    /* padding: 5px 5px 0px 5px; */
}

.logoFooter img{
    width: 180px;
    /* justify-content: flex-end; */
}
.centerFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    gap: 3px;
}
.networking img{
    width: 30px;    
}
.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: 10px 10px 10px 0;
}
footer p:hover{
    text-decoration: underline 2px#E6A197;
}

@media (max-width:700px){
    .logoFooter{
        width: auto;
    }
    footer{
        font-size: 0.82em;
    }
}
@media (max-width:400px){
    footer{
        height: auto;
    }

    .centerFooter{
        align-self:flex-end;
        align-items: flex-end;
        padding: 0 5px 0 0;
    }
    .footerRight{
        align-self: flex-end;
        text-align: right;
    }
    .logoFooter{
        align-content: flex-end;
    }
    }